In [1]:
import pandas as pd

In [23]:
import numpy as np

In [2]:
amazon = pd.read_csv("amazon.csv")

In [3]:
amazon

,Name,Author,User Rating,Reviews,Price,Price_r,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,$8.00,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,$22.00,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,$15.00,15,2018,Non Fiction
3,1984,George Orwell,4.7,70425,$7.48,8,2021,Fiction
4,1984 (Signet Classics),George Orwell,4.7,21424,$6.00,6,2017,Fiction
...,...,...,...,...,...,...,...,...
645,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,$8.00,8,2019,Fiction
646,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,$8.00,8,2016,Non Fiction
647,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,$8.00,8,2017,Non Fiction
648,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,$8.00,8,2018,Non Fiction
649,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,$8.00,8,2019,Non Fiction

## Preguntas

Por año cuantos libros ha publicado un autor, recuerde que los años no trabajados deberia de aparecer en cero. considere como primer registro por autor el primer año en que publico y el ultimo el año maximo encontrado.

Ejemplo, si Uayeb public en 2009 dos libros, y en 2011 tres. y esas son las dos unicas entradas para este autor. la salida para el deberia de ser:

In [4]:
pd.DataFrame({ "Autor" : ["Uayeb","Uayeb","Uayeb"] , "Year" : [2009,2010,2011]  , "Conteo" : [2,0,3] })

   Autor  Year  Conteo
0  Uayeb  2009       2
1  Uayeb  2010       0
2  Uayeb  2011       3

In [5]:
df_2 = amazon.groupby(['Author','Year']).size()

In [6]:
df_3 = df_2.reset_index(name='conteo')

In [ ]:
df_3

Que Autores han trabado en un año en mas de un libro

Ejemplo de salida esperada:

In [ ]:
pd.DataFrame({
    
    "Autor" : ['Uayeb','Imix']
    , "Year" : [2010, 2010]
    , "Conteo de Titulos" : [2 , 3]
    
})

   Autor  Year  Conteo de Titulos
0  Uayeb  2010                  2
1   Imix  2010                  3

In [8]:
df_2 = amazon.groupby(['Author','Year']).size()

In [9]:
df_3 = pd.DataFrame(df_2)

In [10]:
df_3['conteo de titulo'] = df_2

In [11]:
df_4 = df_3[df_3['conteo de titulo']>1]

In [ ]:
df_4

Que genero por año ha obtenido el mejor rating en promedio. (solo deberia de obtener un registro por año)

- ejemplo de la salida esperada:

In [ ]:
pd.DataFrame({
    "Year" : [2009,2010]
    , "Genre" : [ "Fiction" , "Fiction" ]
    , "Mean User Rating": [ 4.59 , 4.61 ]
})

   Year    Genre  Mean User Rating
0  2009  Fiction              4.59
1  2010  Fiction              4.61

In [15]:
genero_ficcion = amazon[amazon['Genre']=='Fiction']

In [22]:
filtro_columnas = genero_ficcion[['Year', 'Genre', 'User Rating']]

In [17]:
agrupacion_year = filtro_columnas.groupby(['Year', 'Genre']).mean()

In [18]:
agrupacion_year = agrupacion_year.reset_index()

In [19]:
df_2 = pd.DataFrame(agrupacion_year)

In [20]:
df_2['Mean User Rating'] = agrupacion_year['User Rating']

In [24]:
df_2[['Year', 'Genre', 'Mean User Rating']]

    Year    Genre  Mean User Rating
0   2009  Fiction          4.591667
1   2010  Fiction          4.615000
2   2011  Fiction          4.619048
3   2012  Fiction          4.495238
4   2013  Fiction          4.545833
5   2014  Fiction          4.631034
6   2015  Fiction          4.652941
7   2016  Fiction          4.715789
8   2017  Fiction          4.737500
9   2018  Fiction          4.738095
10  2019  Fiction          4.820000
11  2020  Fiction          4.713043
12  2021  Fiction          4.716667

Cuales son los autores que por lo menos dos años consecutivos hayan tenido en promedio ratings que decrecen 

Ejemplo

- Si Uayeb caballero, en 2010 saco dos libros, y el rating de esos dos libros es de 3.1, ese mismo autor en 2011 en su unico libro publicado ese año su promedio fue de 2.9 y en 2012 sus tres libros publicados en promedio su rating es de 2.8. Podemos ver que son dos años que este usuario ha ido decreciendo 

No importa que haya publicado en años salteados, ejemplo, 2010 si, 2011 no, 2012 no, 2013 si, 2014 si. para este caso el analisis comienza en 2010, 2013 y 2014

Ejemplo de salida esperada:

In [ ]:
pd.DataFrame({ "autores" : ['Uayeb','Imix'] })

  autores
0   Uayeb
1    Imix

Cuales son los libros que por año se encuentran arriba del percentil 70. (Sin importar genero)

Ejemplo de salida esperada

In [ ]:
pd.DataFrame({
    "Year": [2010,2010,2011,2011]
    , "Titulos": ["Libro A","Libro B","Libro Z","Libro Y"]
    , "Autor": ["Autor 1","Autor 2","Autor 1","Autor 3"]
    , "Rating": [4.1, 4.0,4.2,4.3]
    , "Rating .70": [3.8,3.8,3.7,3.7]
})

   Year  Titulos    Autor  Rating  Rating .70
0  2010  Libro A  Autor 1     4.1         3.8
1  2010  Libro B  Autor 2     4.0         3.8
2  2011  Libro Z  Autor 1     4.2         3.7
3  2011  Libro Y  Autor 3     4.3         3.7

Este ejemplo es para que se haga una idea de la estructura de salida esperada, claramente por año dependiendo de las publicaciones pueden haber varios libros arriba del percentil 70

In [25]:
percentil = np.percentile(amazon['User Rating'],0.7)

In [26]:
filtro= amazon['User Rating']>percentil

In [27]:
df_2 = amazon[filtro][['Year','Name', 'Author', 'User Rating']]

In [28]:
df_2['Rating .70'] = np.percentile(amazon['User Rating'],0.7)

In [29]:
df_2

,Year,Name,Author,User Rating,Rating .70
0,2016,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3.9
1,2011,11/22/63: A Novel,Stephen King,4.6,3.9
2,2018,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,3.9
3,2021,1984,George Orwell,4.7,3.9
4,2017,1984 (Signet Classics),George Orwell,4.7,3.9
...,...,...,...,...,...
645,2019,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,3.9
646,2016,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3.9
647,2017,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3.9
648,2018,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3.9
649,2019,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3.9